<h1>Admin - Cadastro de um novo Inversor</h1>
<div class="row">
  <div class="col-4">
    <%= render 'admin/sidebar' %>
  </div>

  <div class="col-8 vrl-dark-gray">
    <%= render 'shared/errors', object: @inversor %>

    <%= form_for [:admin, @inversor] do |f| %>
    <div class="row">

      <div class="form-group col-md-12">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :width %>
        <%= f.number_field :width, placeholder: ' mm', class: 'form-control' %>
      </div>
        
      <div class="form-group col-md-4">
        <%= f.label :height %>
        <%= f.number_field :height, placeholder: ' mm', class: 'form-control' %>
      </div>
        
      <div class="form-group col-md-4">
        <%= f.label :thickness %>
        <%= f.number_field :thickness, placeholder: ' mm', class: 'form-control' %>
      </div>


      <div class="form-group col-md-4">
        <%= f.label :weight %>
        <%= f.number_field :weight, placeholder: ' kg', class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :purchase_price %>
        <%= f.number_field :purchase_price, step: 0.01, class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :sku %>
        <%= f.text_field :sku, class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :max_wattage %>
        <%= f.number_field :max_wattage, placeholder: ' W', class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :max_voltage %>
        <%= f.number_field :max_voltage, placeholder: ' V', class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :max_current %>
        <%= f.number_field :max_current, step: 0.1, placeholder: ' A', class: 'form-control' %>
      </div>
    </div>

    <%= f.submit 'Enviar', class: 'btn btn-purple float-right' %>
    <% end %>
  </div>
</div>