<h1>Admin - Cadastro de uma nova placa solar</h1>

<%= render 'shared/errors', object: @solar_plate %>

<%= form_for [:admin, @solar_plate] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :width %>
  <%= f.number_field :width, placeholder: ' mm' %>

  <%= f.label :height %>
  <%= f.number_field :height, placeholder: ' mm' %>

  <%= f.label :thickness %>
  <%= f.number_field :thickness, placeholder: ' mm' %>

  <%= f.label :weight %>
  <%= f.number_field :weight, placeholder: ' kg' %>

  <%= f.label :purchase_price %>
  <%= f.number_field :purchase_price, step: 0.01 %>

  <%= f.label :sku %>
  <%= f.text_field :sku %>

  <%= f.label :efficiency %>
  <%= f.number_field :efficiency, step: 0.01, placeholder: ' %' %>

  <%= f.label :rated_power %>
  <%= f.number_field :rated_power, placeholder: ' Wp' %>
  
  <%= f.submit 'Enviar' %>
<% end %>