<h1>Placa Solar</h1>

<dl>
  <dt>Nome:</dt>
  <dd><%= @solar_plate.name %></dd>

  <dt>Dimensão:</dt>
  <dd>
    <%= "#{@solar_plate.width}mm (L) x"  %>
    <%= "#{@solar_plate.height}mm (A) x"  %>
    <%= "#{@solar_plate.thickness}mm (E)"  %>
  </dd>

  <dt>Peso:</dt>
  <dd><%= "#{@solar_plate.weight} kg" %></dd>

  <dt>Preço de compra:</dt>
  <dd></dd>
  
</dl>
