<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="form-field col-lg-10">
      <%= f.label :name, 'Nome' %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "Nome", class: 'form-control' %>
    </div>

    <div class="form-field col-lg-2">
      <%= f.label :zip_code, 'CEP' %><br />
      <%= f.text_field :zip_code, autofocus: true, autocomplete: "CEP", class: 'form-control' %>
    </div>

    <div class="form-field col-lg-9">
      <%= f.label :address, 'Endereço' %><br />
      <%= f.text_field :address, autofocus: true, autocomplete: "Endereço", class: 'form-control' %>
    </div>

    <div class="form-field col-lg-3">
      <%= f.label :client_type, 'Tipo de Cliente' %><br />
      <%= f.select(:client_type, Client.client_types.keys.map {|type| [type.titleize,type]}, {}, class: 'form-control')%>  
      <!-- <%= f.select(:client_type, Client.client_types.map { |type| [Client.human_attribute_name(:type), type] })%> -->
    </div>

    <div class="form-field col-lg-6">
      <%= f.label :document, 'Documento' %><br />
      <%= f.text_field :document, autofocus: true, autocomplete: "Documento", class: 'form-control' %>
    </div>

    <div class="form-field col-lg-6">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="form-field col-lg-6">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="form-field col-lg-6">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>

  </div>
  
  <div class="actions">
    <%= f.submit t('.sign_up'), class: 'btn btn-blue float-right mt-2' %>
  </div>
<% end %>

<div class="mt-2">
  <%= render "devise/shared/links" %>
</div>
