<h1><%= @product_kit.name %></h1>

<% @kit_items&.each do |kit| %>
  <%= "#{kit.quantity} x #{kit.product.name}" %>
<% end %>

<%= image_tag @product_kit.picture if @product_kit.picture.present? %>

<dl>

  <% if @product_kit.description.present? %>
    <dt>Descrição:</dt>
    <dd><%= @product_kit.description %></dd>
  <% end %>

  <dt>Dimensão:</dt>
  <dd>
    <%= "#{@product_kit.width}mm (L)"  %>
    <%= "x #{@product_kit.height}mm (A)" %>
    <%= "x #{@product_kit.thickness}mm (E)" %>
  </dd>

  <dt>Peso:</dt>
  <dd>
    <%= "#{number_with_precision @product_kit.weight, precision: 2} kg" %>
  </dd>

  <dt>Preço:</dt>
  <dd><%= number_to_currency @product_kit.price %></dd>

  <dt>Garantia:</dt>
  <dd><%= @product_kit.warranty %> meses</dd>

</dl> 
