<h1>Carrinho</h1>

<% if @order.nil? %>
  <div>
    <p>Nenhum produto no seu carrinho</p>
  </div>
<% end %>

<ul>
  <% @order&.product_kits&.each do |kit| %>
    <li>
      <%= kit.name %> - 
      <%= number_to_currency(kit.price) %>
    </li>
  <% end %>
</ul>

<div>
  <p><%= "Valor total: #{number_to_currency(@order&.order_value)}" %></p>
</div>


<% if @payments_options.present? %>
  <h1>Formas de Pagamento Disponiveis</h1>
  <li>
    <% @payments_options.each do |po| %>
      <ul><%= po.name %> - <%= t(:installments, count: po.installments) %> de <%= number_to_currency(po.installments_value) %></ul>
    <% end %>
  </li>
  
<% else %>
  <h3>Nenhuma Forma de Pagamento Disponivel no momento</h3>
  <p>Tente novamente mais tarde</p>
<% end %>

<div>
  <%= link_to 'Finalizar Compra', '#' %>
</div>