<!DOCTYPE html>
<html>
  <head>
    <title>QsdSales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <% if current_admin %>
      <%= render '/shared/admin_menu' %>
    <% end %>

    <%= render 'shared/navbar' %>

    <%= yield %>
  </body>
</html>
